<% content_for(:script) do %>
  document.addEventListener('turbolinks:load', function() {
    $('.avg-scores').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf  : '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly  : true,
      score     : <%= @avg_scores %>,
    });
  });

  document.addEventListener('turbolinks:load', function() {
    $('.avg-cleanliness').raty({
      size      : 32,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf  : '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly  : true,
      score     : <%= @avg_cleanliness %>,
    });
  });

  document.addEventListener('turbolinks:load', function() {
    $('.avg-information').raty({
      size      : 32,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf  : '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly  : true,
      score     : <%= @avg_information %>,
    });
  });

  document.addEventListener('turbolinks:load', function() {
    $('.avg-communication').raty({
      size      : 32,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf  : '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly  : true,
      score     : <%= @avg_communication %>,
    });
  });

  document.addEventListener('turbolinks:load', function() {
    $('.avg-location').raty({
      size      : 32,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf  : '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly  : true,
      score     : <%= @avg_location %>,
    });
  });

  document.addEventListener('turbolinks:load', function() {
    $('.avg-price').raty({
      size      : 32,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf  : '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly  : true,
      score     : <%= @avg_price %>,
    });
  });

  document.addEventListener('turbolinks:load', function() {
    $('.avg-recommendation').raty({
      size      : 32,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf  : '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly  : true,
      score     : <%= @avg_recommendation %>,
    });
  });
<% end %>

<div id="modal-content">
  <a id="modal-close" class="button-link">
    <i class="fa-solid fa-xmark"></i>
  </a>
  <div class="modal-content-container">
    <div class="modal-main">
      <div class="modal-total">
        <div>総合評価</div>
        <div class="modal-rate-field">
          <div class="avg-scores star"></div>
          <div><%= avg %></div>
        </div>
      </div>
      <div class="avg-indication">
        <p>この価格帯の平均は<%= group_avg %>です</p>
        <p>※詳しくは
          <%= link_to(articles_score_path, target: "_blank", rel: "noopener") do %>
            <span class="link-avg">こちら</span>
          <% end %>
        </p>
      </div>
    </div>
    <div class="modal-scores">
      <div class="modal-scores-left">
        <div class="rate-container">
          <div>清潔さ</div>
          <div class="modal-rate-field">
            <div class="avg-cleanliness star"></div>
            <div><%= cleanliness %></div>
          </div>
        </div>
        <div class="rate-container">
          <div>掲載情報の正確さ</div>
          <div class="modal-rate-field">
            <div class="avg-information star"></div>
            <div><%= information %></div>
          </div>
        </div>
        <div class="rate-container">
          <div>コミュニケーション</div>
          <div class="modal-rate-field">
            <div class="avg-communication star"></div>
            <div><%= communication %></div>
          </div>
        </div>
      </div>
      <div class="modal-scores-right">
        <div class="rate-container">
          <div>ロケーション</div>
          <div class="modal-rate-field">
            <div class="avg-location star"></div>
            <div><%= location %></div>
          </div>
        </div>
        <div class="rate-container">
          <div>価格</div>
          <div class="modal-rate-field">
            <div class="avg-price star"></div>
            <div><%= @avg_price %></div>
          </div>
        </div>
        <div class="rate-container">
          <div>おすすめ度</div>
          <div class="modal-rate-field">
            <div class="avg-recommendation star"></div>
            <div><%= recommendation %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
