<% content_for(:title, "予約情報") %>
<div class="host-container">
  <% if @reservation.canceled? %>
    <p class="note-cancel-request-done">
      この予約はキャンセルされました。</br>
      キャンセルポリシーに従い自動的に返金処理がされます。
    </p>
  <% elsif @reservation.cancel_requested? %>
    <p class="note-cancel-request-done">
      キャンセルリクエスト済み</br>
      キャンセルポリシーのご確認をお願い致します。</br>
    </p>
  <% end %>
  <h1>予約内容</h1>
  <div class="error-message-field">
    <%= render "shared/error", resource: @reservation %>
  </div>
  <%= render "shared/reservation_content", reservation: @reservation %>
  <h1>予約者情報</h1>
  <div class="user-box-container">
    <div class="user-box">
      <%= image_tag @reservation.guest.image, class: 'user-image', alt: 'ゲストユーザーのアイコン' if @reservation.guest.image.attached? %>
      <div class="user-headline">
        <div class="user-name">
          <%= @reservation.guest.name %>
        </div>
        <div class="user-status">
          <span>本人認証済</span>
        </div>
      </div>
    </div>
    <div class="user-introduction">
      <%= safe_join(@reservation.guest.introduction.split(/\n/), tag(:br)) %>
    </div>
  </div>
  <% if !@reservation.finished? && !@reservation.canceled? && !@reservation.cancel_requested? %>
    <%= form_with model: @reservation, url: reservation_host_path(@reservation.id), data: {confirm: "必ずキャンセルポリシーをご確認後、キャンセルリクストをしてください"} do |f| %>
      <%= f.submit "キャンセルリクエスト", class: "host-cancel-button" %>
    <% end %>
  <% end %>
</div>
