<% content_for(:title, "予約内容") %>
<div class="guest-container">
  <% if @reservation.canceled? %>
    <p class="note-cancel-done">
      この予約はキャンセルされました。</br>
      キャンセルポリシーに従い自動的に返金処理がされます。
    </p>
  <% elsif @reservation.cancel_requested? %>
    <p class="note-cancel-done">
      ホストからキャンセルリクエストがありました。</br>
      キャンセルポリシーに従って返金がされます。</br>
      </br>
      キャンセルポリシーをご確認頂きましたら、</br>
      「この予約をキャンセルする」をクリックしてください</br>
    </p>
  <% end %>
  <h1>予約内容</h1>
  <div class="error-message-field">
    <%= render "shared/error", resource: @reservation %>
  </div>
  <div class="reservation-table-wrapper">
    <dl class="reservation-table">
      <dt>宿泊先</dt>
      <dd><%= @reservation.room.name %></dd>
      <dt>住所</dt>
      <dd><%= @reservation.room.adress %></dd>
      <dt>チェックイン</dt>
      <dd><%= @reservation.checkin.strftime("%Y年%m月%d日 (#{t("date.abbr_day_names")[@reservation.checkin.wday]})") %></dd>
      <dt>チェックアウト</dt>
      <dd><%= @reservation.checkout.strftime("%Y年%m月%d日 (#{t("date.abbr_day_names")[@reservation.checkout.wday]})") %></dd>
      <dt>確定日時</dt>
      <dd><%= @reservation.updated_at.strftime("%Y年%m月%d日 (#{t("date.abbr_day_names")[@reservation.checkout.wday]}) %H時%M分") %></dd>
      <% unless @reservation.canceled? %>
        <dt>お支払金額</dt>
        <dd>¥<%= @reservation.payment.to_s(:delimited) %></dd>
      <% end %>
    </dl>
  </div>
  <h1>ホスト情報</h1>
  <div class="user-box-container">
    <div class="user-box">
      <%= image_tag @reservation.host.image, class: 'user-image' if @reservation.host.image.attached? %>
      <div class="user-headline">
        <div class="user-name">
          <%= @reservation.host.name %>
        </div>
        <div class="user-status">
          <span>本人認証済</span>
        </div>
      </div>
    </div>
    <div class="user-introduction">
      <%= safe_join(@reservation.host.introduction.split(/\n/), tag(:br)) %>
    </div>
  </div>
  <div class="guest-cancel-container">
    <% if @reservation.ongoing? %>
      <p>予約内容は修正はできません。この予約をキャンセルしてから再度お申込みください</p>
      <%= link_to "この予約をキャンセルする", reservation_path(@reservation.id), method: 'patch', data: {confirm: "必ずキャンセルポリシーをご確認後、キャンセルをしてください"}, class:"reservation-cancel-button" %>
      <%= link_to "一覧に戻る >>", reservations_path, class:"link-to-reservations" %>
    <% else %>
      <%= link_to "一覧に戻る >>", completed_reservations_path, class:"link-to-reservations" %>
    <% end %>
  </div>
</div>
