<% content_for(:title, "予約内容") %>
<div class="guest-container">
  <%= render "shared/reservation_host_message", reservation: @reservation, rate: @rate %>
  <h1>予約内容</h1>
  <div class="error-message-field">
    <%= render "shared/error", resource: @reservation %>
  </div>
  <%= render "shared/reservation_content", reservation: @reservation %>
  <h1>ホスト情報</h1>
  <div class="user-box-container">
    <div class="user-box">
      <%= image_tag @reservation.host.image, class: 'user-image', alt: 'ホストユーザーのアイコン' if @reservation.host.image.attached? %>
      <div class="user-headline">
        <div class="user-name">
          <%= @reservation.host.name %>
        </div>
        <div class="user-status">
          <span>本人認証済</span>
        </div>
      </div>
    </div>
    <div class="user-introduction">
      <%= safe_join(@reservation.host.introduction.split(/\n/), tag(:br)) %>
    </div>
  </div>
  <div class="guest-cancel-container">
    <% if !@reservation.finished? && !@reservation.canceled? %>
      <p>予約内容は修正はできません。この予約をキャンセルしてから再度お申込みください</p>
      <%= link_to "この予約をキャンセルする", reservation_path(@reservation.id), method: 'patch', data: {confirm: "必ずキャンセルポリシーをご確認後、キャンセルをしてください"}, class:"reservation-cancel-button" %>
      <%= link_to "一覧に戻る >>", reservations_path, class:"link-to-reservations" %>
    <% else %>
      <%= link_to "一覧に戻る >>", completed_reservations_path, class:"link-to-reservations" %>
    <% end %>
  </div>
</div>
