<div class="devise container">
  <div class="devise_frame">
    <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field must">
        <%= f.label :email, class:"label_none" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス" %>
      </div>

      <div class="field must">
        <%= f.label :password, class:"label_none" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード" %>
      </div>

      <div class="actions login button input_border">
        <%= f.submit "ログイン" %>
      </div>
      
    <% end %>
    
    <div class="color_blue ">
    <%= render "devise/shared/links" %>
    </div>

  </div>
</div>

