<div class="search_container"> 
  <h2 class="serach_count">検索結果：<%= @rooms_count %>件</h2>

  <div class="room_frame_outer">
    <% @rooms.each do |room| %>
      <div class="room_frame_inner">
        <%= link_to(room_path(room)) do  %>
          <div class="room_image">
            <% if room.room_image.attached? %>
              <%= image_tag room.room_image, class: 'image_room' %>
            <% end %>
          </div>
          <div class="room_profile">
            <p><%= room.room_name %></p>
            <p class=""><%= room.adress %></p>
            <p class="">￥<%= room.fee.to_s(:delimited) %>/日</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
