<% content_for(:title, "ルーム情報登録") %>
<div class="room-form-container">
  <h2>宿泊施設の登録</h2>
  <div class="error-message-field">
    <%= render "shared/error", resource: @room %>
  </div>
  <%= form_with model: @room, url: create_rooms_path, method: 'post', class: "room-form" do |f| %>
    <div class="room-form-items-wrapper">
      <%= f.label :name, "登録名", class: "room-form-label" %>
      <%= f.text_field:name, class: "room-text-field" %>
    </div>
    <div class="room-form-items-wrapper">
      <%= f.label :introduction, "物件紹介", class: "room-form-label" %>
      <div class="room-text-box">
        <%= f.text_area :introduction, class: "room-textarea" %>
      </div>
    </div>
    <div class="room-form-items-wrapper">
      <%= f.label :fee, "料金/泊", class: "room-form-label" %>
      <%= f.number_field :fee, placeholder: "¥", class:"room-number-field" %>
    </div>
    <div class="room-form-items-wrapper">
      <%= f.label :adress, "住所", class: "room-form-label" %>
      <%= f.text_field :adress, class: "room-text-field" %>
    </div>
    <div class="room-form-items-wrapper">
      <%= f.label :room_image, "ルーム画像", class: "room-form-label" %>
      <%= f.file_field :room_image, class: "room-file-field", accept: "image/jpg, image/jpeg, image/png" %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "登録する", name: nil, class:"room-submit" %>
  <% end %>
</div>
