<div class="table_rooms"> 
  <h2>登録済みルーム一覧</h2>

  <table class="table">
    <thead>
        <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>住所</th>
        <th>作成日</th>
        <th>ユーザーID</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td>
            <% if room.room_image.attached? %>
              <%= image_tag room.room_image, class: 'image_room_posts' %>
            <% end %>
          </td>
          <td class="room_show">
            <div class="longtext">
              <%= link_to room.room_name, room_path(room) %>
            </div>
          </td>
          <td class="room_intro"><div class="longtext"><%= room.room_intro %></div></td>
          <td>￥<%= room.fee.to_s(:delimited) %></td>
          <td><%= room.adress %></td>
          <td class="room_created_at"><%= room.created_at.strftime("%Y年%m月%d日") %></td>
          <td><%= room.user.name %></td>
          <td><%= link_to "削除", room_path(room), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
