<% content_for(:title, @room.name) %>
<%= render "shared/modal_score", avg: @avg_scores, group_avg: @group_avg, cleanliness: @avg_cleanliness,communication: @avg_communication, information: @avg_information, location: @avg_location, price: @avg_price, recommendation: @avg_recommendation %>
<div class="room-intro-page-container">
  <div class="room-detail-wrapper">
    <%= image_tag @room.room_image, class: 'room-image' if @room.room_image.attached? %>
    <div class="overview">
      <div class="icon-name">
        <%= image_tag @room.user.image.attached? ? @room.user.image : "default_icon.jpg", class: 'owner-icon' %>
        <p><%= @room.name %></p>
      </div>
      <div class="adress-score">
        <p>
          <%= @room.adress %>
          <%= link_to "地図を見る", map_path(@room.id), target: "_blank", rel: "noopener", class: "link-to-map"  %>
        </p>
        <% if @room.has_min_num_rates? %>
          <div class="room-review">
            <div class="room-score">
              <i class="fa-solid fa-star"></i>
              <div class="avg"><%= @avg_scores %></div>
              <div class="num">
                <a id="modal-open" class="button-link">
                  (<%= @num_scores %>件)
                </a>
              </div>
            </div>
            <% if !@num_awards.zero? %>
              <a class="best-spot" id="modal-open-best">
                <div>Bestスポット</div>
                <div>
                  <i class="fa-solid fa-gem"></i>
                  <%= @num_awards %>
                </div>
              </a>
              <div id="modal-content-best">
                <a id="modal-close">
                 <i class="fa-solid fa-xmark"></i>
                </a>
                <div class="title-best">
                  <h3>Bestスポットとは<i class="fa-solid fa-gem"></i></h3>
                </div>
                <div class="content-best">
                <p>宿泊体験の中で、ユーザーが年に一回ホストに送ることができる特別な評価となります。</br>
                星５では語れない感動や体験をした場合、その他特別な感謝を示す手段等、様々な理由で評価が送られます。</p>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="none-rate-message">評価は2件以上から公開されます</p>
        <% end %>
      </div>
    </div>
    <div class="room-intro-container">
      <div class="intro-box">
        <p><%= safe_join(@room.introduction.split("\n"), tag(:br)) %></p>
      </div>
    </div>
  </div>
  <div class="reservation-entry-form-container">
    <p>¥<%= @room.fee %>/日</p>
    <div class="error-message-field">
      <%= render "shared/flash_error" %>
    </div>
    <%= form_with url:"../reservations/new",  class: "reservation-entry-form", method: :get do |f| %>
      <%= f.label :checkin, "チェックイン" %>
      <%= f.date_field :checkin, class:"reservation-entry-form-date-field", value: params[:checkin] || "" %>
      <%= f.label :checkout, "チェックアウト" %>
      <%= f.date_field :checkout, class:"reservation-entry-form-date-field", value: params[:checkout] || ""  %>
      <%= f.label :number, "宿泊人数" %>
      <%= f.number_field :number, class:"reservation-entry-form-number-field", placeholder: "人", value: params[:number] || ""  %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <% if !user_signed_in? %>
        <%= f.submit 'ログイン', name: nil, class:"reservation-entry-form-submit" %>
      <% elsif current_user.invalid? && !current_user.guest_user? %>
        <%= f.submit 'プロフィール登録', name: nil, class:"reservation-entry-form-submit"  %>
      <% else %>
        <%= f.submit "予約する", name: nil, class:"reservation-entry-form-submit" %>
      <% end %>
    <% end %>
  </div>
</div>
