
<div class="show_container">
  <div class="container_pic_detail">
    <div class="room_pic">
      <% if @room.room_image.attached? %>
        <%= image_tag @room.room_image, class: 'image_room_show' %>
      <% end %>
    </div>
    <div class="detail_include_icon">
      <% if @room.user.image.attached? %>
        <%= image_tag @room.user.image, class: 'icon_show' %>
      <% else %>
        <%= image_tag "/assets/logo.png" , class: 'icon_show' %>
      <% end %>
      <div class="detail_exclude_icon">
        <p><%= @room.room_name %></p>
        <p><%= @room.adress %></p>
      </div>
    </div>
    <div class="detail_room_intro">
      <p><%= @room.room_intro %></p>
    </div>
  </div>
  <div class="room_reserve">
    <div class="reserve_fit">
    <p>¥<%= @room.fee %>/日</p>

      <%= form_with url:"../reservations/new", method: :get do |f| %>
        <%= f.label :day_start, "チェックイン" %>
        <%= f.date_field :day_start, class:"input_for_reservation", value: params[:day_start] || "" %>

        <%= f.label :day_end, "チェックアウト" %>
        <%= f.date_field :day_end, class:"input_for_reservation", value: params[:day_end] || "" %>

        <%= f.label :number, "宿泊人数" %>
        <div class="number_include">

          <%= f.number_field :number, class:"input_for_number", value: params[:number] || "" %>
            <span>
              人
            </span>
        </div>

        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.hidden_field :payment, value: @room.fee %>
      
        <% if user_signed_in? %>
          <% if current_user.name.blank? || current_user.introduction.blank? %>
            <%= link_to 'プロフィール登録', users_profile_path, class:"button button_for_reservation" %>
          <% else %>
            <%= f.submit "予約する", class:"button button_for_reservation" %>
          <% end  %>
        <% else %>
          <%= f.submit 'ログイン', class:"button button_for_reservation" %>
        <% end  %>

      <% end  %>
    </div>
  </div>
</div>

