<!DOCTYPE html>
<html>
  <head>
    <title>TaskRoom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="header">
      <div class="header_title_input">
        <a href="/">
          <img src="/assets/logo.png" class="img_title">
        </a>
          <%= search_form_for @q, url:rooms_search_path, class:"form_flex" do |f| %>
            <%= f.label :adress, class:"label_none" %>
            <%= f.search_field :adress_cont, placeholder:"エリア" %>
            <%= f.label :room_name, class:"label_none" %>
            <%= f.search_field :room_name_or_room_intro_cont, placeholder:"キーワード" %>
            <%= f.submit class:"submit_hidden" %>
          <% end %>
      </div>
      <% if user_signed_in? %>
      <div class="header_name_menu">
        <div class="user_name"><%= current_user.name %></div>
          <% if current_user.image.attached? %>
           <%= image_tag current_user.image, class: 'image_header' %>
           <% else %>
           <%= image_tag "/assets/logo.png" , class: 'image_header' %>
          <% end %>
      </div>
      <ul class="header_nav_menu hide">
        <li><%= link_to 'ルーム登録', new_room_path %></li>
        <li><%= link_to '登録済みルーム一覧', rooms_posts_path %></li>
        <li><%= link_to '設定', users_account_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </ul>
      <% else %>
        <div class="before_log_in button ">
          <%= link_to 'ログイン', new_user_session_path %>
          <%= link_to '登録する', new_user_registration_path %>
        </div>
      <% end %>
    </header>
    <% if flash[:notice_error] %>
      <p class="notice"><%= flash[:notice_error] %></p>
    <% end %>
    <div class="notification">
      <div class="alert"><%= alert %></div>
      <div class="notice"><%= notice %></div>
    </div>

    <%= yield %>
  
    <footer>
    <p>© 2022 POTEPAN.INC.</p>
    </footer>

  </body>



</html>
